.note-card{
    border:1px solid #e0e0e0;
    padding: 5px 20px;
    margin:10px;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    cursor: pointer;
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
}
.note-card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.note-card-category{
    position: absolute;
    background-color: black;
    color: white;
    padding : 5px 20px;
    margin : 10px ;
    border-radius: 20px;
    top:0;
    right : 20px;
}
.Delete-icon{
    height: 20px;
    position:absolute;
    bottom: 10px;
    right:30px;
}